.home .jumbotron{
    font-family: 'Times New Roman';
    text-align: center;
    background-image:url(../images/matrix.jpg);
    height: 500px;
    padding-top: 110px;
}

.home .jumbotron h1{
    font-size: 170px;   
}

.names{
    justify-content: baseline;

}