.jumbotron{
    text-align: center;
    font-family: 'Times New Roman'
    
} 
.names{
    
}
.names input{
    border-radius: 20px;
    margin-top: 240px;
    color: rgb(219, 210, 198);
    font-size: 26px;
    font-family: 'Times New Roman';
}
.home{
background-image: url("../images/blue.jpg")
}