.jumbotron{
    text-align: center;
    font-family: 'Times New Roman';
    background-color: rgb(50, 96, 156);
    margin: 10px;
    border-radius: 20px;
    font-size: 45px;

} 

a{
    color: rgb(218, 211, 211)
}
.names{
    text-align: center;
    color: rgb(247, 241, 241)
    
}
.names input{
    border-radius: 23px;
    margin-top: 240px;
    color: rgb(29, 27, 25);
    font-size: 26px;
    font-family: 'Times New Roman';
    text-align: center;
}

.buttonStart input{
    border-radius: 17px;
    text-align: center;
    font-size: 22px;
}
.buttonStart{
    text-align: center;
    margin-top: 26px;
    color: rgb(226, 223, 223)
}
.home{
    background-image: url("../images/blue.jpg")  
}
p{
    color: rgb(209, 205, 205);
    font-size: 18px;
} 

.test .jumbotron h1{
    font-size: 80px;
}
.test{
    background-image: url("../images/ice.jpg");;
    background-position: cover;
    background-size: cover;
}
.one{
    color: black;
}
